.dropdown {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $dropdown-color: $base-font-color;
  $dropdown-description-color: lighten($dropdown-color, 40%);
  $dropdown-border: 1px solid silver;
  $dropdown-background: $base-background-color;
  $dropdown-background-hover: darken($dropdown-background, 3%);
  $dropdown-inner-border: 1px solid silver;
  $dropdown-height: 40px;
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 50px;
  $dropdown-arrow-top-distance: 0;

  line-height: $base-line-height;

  .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .dropdown-description {
    background: $dropdown-background;
    border-bottom: $dropdown-border;
    border-bottom-left-radius: $base-border-radius;
    border-left: $dropdown-border;
    border-top-left-radius: $base-border-radius;
    border-top: $dropdown-border;
    color: $dropdown-description-color;
    float: left;
    font-size: 0.7em;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 ($dropdown-padding / 2) 0 $dropdown-padding;

    @include media($large-screen) {
      font-size: 1em;
    }
  }

  .dropdown-button {
    background: $dropdown-background;
    border-bottom: $dropdown-border;
    border-bottom-right-radius: $base-border-radius;
    border-right: $dropdown-border;
    border-top: $dropdown-border;
    border-top-right-radius: $base-border-radius;
    cursor: pointer;
    float: right;
    font-size: 0.7em;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
    position: relative;

    @include media($large-screen) {
      font-size: 1em;
      padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
    }
  }

  .dropdown-button:hover {
    background-color: $dropdown-background-hover;
  }

  .dropdown-button::after {
    color: $base-font-color;
    content: "\25BE";
    display: block;
    position: absolute;
    right: $dropdown-padding;
    top: $dropdown-arrow-top-distance;
  }

  .dropdown-menu {
    background: $dropdown-background;
    border: $dropdown-border;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $dropdown-color;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    right: 0;
    top: $dropdown-distance-from-menu;
    transition: all 0.2s ease-in-out;
    width: 228px;
    z-index: 99999;

    &::before {
      @include position(absolute, 0 1em 0 0);
      color: $dropdown-background;
      content: "\25b2";
      font-size: 1.4em;
      pointer-events: none;
      text-shadow: 0 -2px 2px transparentize(black, 0.7);
      top: -0.7em;
    }
  }

  .dropdown-menu li {
    border-bottom: $dropdown-inner-border;
    color: $dropdown-color;
    list-style: none;
    padding: $dropdown-padding / 2;
  }

  .dropdown-menu li:hover {
    background: $dropdown-background-hover;
  }

  .dropdown-menu li:first-child {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  .dropdown-menu li:last-child {
    border: 0;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  .show-menu {
    display: block;
  }
}
// Inspired by code by www.HUSAMUI.com


.navigation {
  background-color: $navigation-background;
  //border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  @include keyframes(fadeIn) {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }

  &--wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  &--logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding-horizontal;
    @include media ($navigation-horizontal-bar-mode) {
      padding-left: $navigation-padding;
    }
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }

  // Mobile view

  &--button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $navigation-height / 3;

    @include media ($navigation-horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      background-color: $navigation-background-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($navigation-horizontal-bar-mode) {
      float: left;
    }
  }

  nav > &--menu &--link > a{
    &:focus,
    &:hover {
      color: lighten($navigation-color, 15);
      background-color: $navigation-background !important;
    }
  }

  &--menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &__show {
      display: block;
    }

    @include media ($navigation-horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.navigation--link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    &__right{
      //float: right;
      @include media($navigation-horizontal-bar-mode) {
        padding: 0.85em 0.85em 0.7em 0.6em;
        width: 30%;
        position: absolute;
        right: 0;
      }
    }

    @include media ($navigation-horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      @include media ($navigation-horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        background-color: $navigation-background-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-top: 0;
  }

  // Sub menus
  li.navigation--link__more.navigation--link {
    padding-right: 0;

    @include media($navigation-horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child > a  {
      margin-top: $navigation-padding-top;
    }

    > ul > li:first-child > ul  {
      margin-top: $navigation-padding-top;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a::after {
      @include position(absolute, auto -0.4em auto auto);
      color: $navigation-color;
      content: "\25BE";
    }
  }

  li.navigation--link__more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($navigation-horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .navigation--menu__submenu,
    &:hover > .navigation--menu__submenu {
      display: block;
      opacity: 1;
      @include setAnimation($name: fadeIn, $duration: 150ms, $count: 1);
    }

    @include media($navigation-horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.navigation--menu__submenu {
    display: none;
    opacity: 0;
    padding-left: 0;
    z-index: -1;

    @include media($navigation-horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .navigation--menu__submenu.js-fly-out-right {
      @include media($navigation-horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    .navigation--menu__submenu.js-fly-out-left {
      @include media($navigation-horizontal-bar-mode) {
        left: -$navigation-submenu-width + 0.2em;
        top: 0;
      }
    }

    .navigation--menu__submenu {
      @include media($navigation-horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($navigation-horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $navigation-base-border-radius;
          border-top-right-radius: $navigation-base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $navigation-base-border-radius;
          border-bottom-right-radius: $navigation-base-border-radius;
          //padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($navigation-horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  // Elements on the far right

  .navigation--tools {
    background: #505050;
    clear: both;
    display: block;
    height: $navigation-height;

    @include media($navigation-horizontal-bar-mode) {
      background: transparent;
      clear: none;
      float: right;
    }
    &>div{
      margin-top: 10px;

      float: left;
      padding: 0.85em 0.85em 0.7em 0.6em;
      width: 60%;
    }
  }

  // Search bar

  .searchbar {
    $search-bar-border-color: $navigation-base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;

    form {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        border-radius: $navigation-base-border-radius * 2;
        box-sizing: border-box;
        color: $navigation-color;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        @include media($navigation-horizontal-bar-mode) {
          width: 100%;
        }
      }

      button[type=submit] {
        background: $navigation-search-background;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;
        cursor: pointer;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    @include media($navigation-horizontal-bar-mode) {
      display: inline-block;
      position: relative;
      width: 16em;

      input {
        box-sizing: border-box;
        display: block;
      }
    }
  }

  .searchbar__right{
    float: right;
    padding: 0;
    line-height: normal;
    @include media($navigation-horizontal-bar-mode) {
      padding: 0.85em 0.85em 0.7em 0.6em;
      width: 30%;
      position: absolute;
      right: 0;
    }
  }
}
