.slider{
  position: relative;
  width: 100%;
  height: $slider-height;
}

.slider--container{
  height: $slider-height;
}

#slider--letters{
  position: absolute;
  width: 100%;
  .slider--slide{
    color: white;
    .slider--lettersbox{
      h1{
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: 2.5em;
      }

      position: absolute;
      top: 8%;
      left: 10%;
      width: 60%;
      padding: 10px;
    }
  }
}

#slider--images{
  z-index: -1;
  .slider--slide{
    background-size: cover;
    //background-attachment: fixed;
  }
}
