$slider-height: calc(90vh - 80px);

.slider{
  position: relative;
  width: 100%;
  height: $slider-height;
}

.swiper-container{
  height: $slider-height;
}

#swiper-letters{
  position: absolute;
  width: 100%;
  .swiper-slide{
    color: white;
    .swiper-letters-box{
      h1{
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: 2.5em;
      }

      position: absolute;
      top: 8%;
      left: 10%;
      width: 60%;
      padding: 10px;
    }
  }
}

#swiper-images{
  z-index: -1;
  .swiper-slide{
    background-size: cover;
    //background-attachment: fixed;
  }
}
