<footer class="footer" role="contentinfo">
  <div class="footer--logo">
    <img src="/images/icons/ymxicnnl.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="/<%- locale %>/about/">About</a></li>
      <li><a href="/<%- locale %>/yamax/">YamaX</a></li>
      <li><a href="http://ozone.y-modify.org/">Ozone OS</a></li>
    </ul>
    <div class="footer--languages">
      <ul>
        <% locales.id.forEach(function (value, index) { %>
          <li><a href="/<%- value %>"><%- locales.name[index] %></a></li>
        <% }); %>
      </ul>
    </div>
    <div class="footer--links">
      <ul>
        <li>Copyright © 2018 Y-modify All Rights Reserved.</li>
      </ul>

      <ul class="footer--social">
        <li><a href="https://twitter.com/ymodify314" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://www.facebook.com/Ymodify314" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
        <li><a href="https://github.com/Y-modify" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="https://plus.google.com/u/0/b/109945619381118132728/+YmodifyOrg314/" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>
        <li><a href="https://instagram.com/ymodify314/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCnDs9Rdml-Z_bYAn3CSBxeg" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
      </ul>
    </div>
</footer>
