<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/images/svg/logo.svg" alt="Y-modify logo">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">Projects</a>
          <ul class="submenu">
            <li><a href="/yamax/">YamaX</a>
              <!-- <ul class="submenu">
                <li><a href="javascript:void(0)">Features</a></li>
                <li><a href="javascript:void(0)">Mechanism</a></li>
              </ul> -->
            </li>
            </li>
            <li><a href="#flixa">Flixa</a></li>
            <li><a href="/ozone/">Ozone OS</a></li>
          </ul>
        </li>
        <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">About us</a>
          <ul class="submenu">
            <li><a href="/about/">About</a></li>
            <li><a href="/about/member/">Members</a></li>
            <!--<li><a href="/about/events/">Events</a></li>
            <li><a href="/about/contacts/">Contacts</a></li>-->
          </ul>
        </li>
        <li class="nav-link"><a href="http://blog.y-modify.org/">Blog</a></li>
        <!-- <li class="nav-link navigation-tools">
          <div class="search-bar search-bar-right">
            <form role="search">
              <input type="search" placeholder="Enter Search" />
              <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </li> -->
      </ul>
    </nav>
  </div>
</header>
