<li class="herounit">
  <div class="herounit--space
    <% if(typeof(className)!='undefined'){ %>
      <%= className %>
    <% } %>
  " style="background-image: url('<%= background %>');">
    <div class="herounit--description herounit--description__titles">
      <h3>
        <%= subtitle %>
      </h3>
      <h1>
        <%= title %>
      </h1>
    </div>
  </div>
</li>
