<div class="intro">
  <% if(socials) { %>
    <div class="socials">
      <a href="https://twitter.com/ymodify314" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="https://www.facebook.com/Ymodify314" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="https://github.com/Y-modify" target="_blank"><i class="fa fa-github fa-lg"></i></a>
      <a href="https://plus.google.com/u/0/b/109945619381118132728/+YmodifyOrg314/" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
      <a href="https://instagram.com/ymodify314/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
      <a href="https://www.youtube.com/channel/UCnDs9Rdml-Z_bYAn3CSBxeg" target="_blank"><i class="fa fa-youtube-play"></i></a>
    </div>
  <% } %>
  <div class="description">
    <%- description.replace(/[\n\r]/g, "<br>") %>
  </div>
</div>
