<div class="<%- className %> content-cell-flex">
  <div class="cell-title"><%- title %></div>
  <div class="portfolios">
    <% portfolios.forEach(function (value) { %>
      <div class="portfolio">
        <div style="background: url(<%= value.image %>) center center" class="pimage">
        </div>
        <div class="ptitle">
          <%= value.title %>
        </div>
      </div>
    <% }); %>
  </div>
</div>
