<div class="slider">
  <div class="swiper-container" id="swiper-letters">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-letters-box">
          <h1>YamaX</h1>
          Next-generation automated humanoid robot
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-letters-box">
          <h1>KaraML</h1>
          Machine Learning(ML) library for 'kara' brain lovers.
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-letters-box">
          <h1>Enjoy making.</h1>
          We are just doing our hobbies like we do jobs, but it's not jobs.
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-container" id="swiper-images">
    <div class="swiper-wrapper">
        <div class="swiper-slide" id="swiper-image-1"></div>
        <div class="swiper-slide" id="swiper-image-2"></div>
        <div class="swiper-slide" id="swiper-image-3"></div>
    </div>
  </div>
</div>
