<div class="slider">
  <div class="swiper-container" id="swiper-letters">
    <div class="swiper-wrapper">
      <% items.forEach(function (value, key) { %>
      <div class="swiper-slide">
        <div class="swiper-letters-box">
          <h1><%= value.title %></h1>
          <%= value.description %>
        </div>
      </div>
      <% }); %>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-container" id="swiper-images">
    <div class="swiper-wrapper">
      <% items.forEach(function (value, key) { %>
        <div class="swiper-slide" style="background-image: url('<%= value.image %>');"></div>
      <% }); %>
    </div>
  </div>
</div>
