Options +FollowSymLinks

ErrorDocument 403 /error/403.php
ErrorDocument 404 /error/404.php
ErrorDocument 503 /error/503.php
ErrorDocument 500 /error/500.php

RewriteEngine on
RewriteCond %{HTTP_HOST} ^y-modify\.org
RewriteRule ^(.*)$ http://www.y-modify.org/$1 [R=301,L]

RewriteBase /
RewriteCond %{REQUEST_URI} !/ja
RewriteCond %{REQUEST_URI} !/en
RewriteCond %{REQUEST_URI} !/css
RewriteCond %{REQUEST_URI} !/fonts
RewriteCond %{REQUEST_URI} !/images
RewriteCond %{REQUEST_URI} !/js
RewriteCond %{REQUEST_URI} !/lang
RewriteCond %{HTTP_COOKIE} ja
RewriteRule ^(.*)$ ja/$1 [R]

RewriteCond %{REQUEST_URI} !/ja
RewriteCond %{REQUEST_URI} !/en
RewriteCond %{REQUEST_URI} !/css
RewriteCond %{REQUEST_URI} !/fonts
RewriteCond %{REQUEST_URI} !/images
RewriteCond %{REQUEST_URI} !/js
RewriteCond %{REQUEST_URI} !/lang
RewriteCond %{HTTP_COOKIE} en
RewriteRule ^(.*)$ en/$1 [R]

RewriteCond %{REQUEST_URI} !/ja
RewriteCond %{REQUEST_URI} !/en
RewriteCond %{REQUEST_URI} !/css
RewriteCond %{REQUEST_URI} !/fonts
RewriteCond %{REQUEST_URI} !/images
RewriteCond %{REQUEST_URI} !/js
RewriteCond %{REQUEST_URI} !/lang
RewriteCond %{REQUEST_URI} !^/$
RewriteCond %{HTTP_COOKIE} !en
RewriteCond %{HTTP_COOKIE} !ja
RewriteRule ^(.*)$ /?to=/$1 [R]
